@charset"utf-8";

body {
    
}
#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


#header1 {  
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    background-color: #FFC947;
    position: relative;
}
#toplogo {
    position: absolute;
    left: 0;
}

h1 {
    margin-top: 0;
    font-family: ariel;
    font-size: 4rem;
    color: #799BBD;
    text-align: center;
    background-color: #FFC947;
}
.header2 {
    display: flex;
    justify-content: space-between;
    background-color: #FFC947;
    
}
.header2 p {
    font-size: 1.8rem;
    margin: 10px 0 0 10px; 
}
.header2 a {
    margin-top: 20px;
}
#sns {
    margin: 3px;
    background: #FFC947;
}
#sns img {

}
#navarea {
    background: #FFC947;
    color: aqua;
    display: flex;
    justify-content: center;
    font-family: ＤＦ細丸ゴシック体;
}

nav {
	 background-color:transparent;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav li {
    flex-direction: 
	font-size: 1.8rem;
	width: 150px;
	list-style: none;
	text-align: center;
	line-height: 3rem;
}
nav li a {
	display: block;
	text-decoration: none;
	color: #FFF;
}


.mizuiro a:hover {
    background: #56C0FF;
    color: #FFF;
}
.orengi a:hover {
    background: #FC9C47;
    color: #FFF;
}
.midori a:hover {
    background: #A19EFF;
    color: #FFF;
}
.pinku a:hover {
    background: #799BBD;
    color: #FFF;
}
.fukamidori a:hover {
    background: #30B6B9;
    color: #FFF;
}



/*------headerここまで----------------------------------------------------------*/

#contents{
	padding-top: 100px;
    width: 1300;
    margin: 0 auto;
    background: #FC9C47;
}

iframe{
    width:50%;
    display: block;
    margin: 20px auto 20px;
    
}

#contents p{
    margin: 0px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
}

.yoyakuicon {
    display: none;
    position: fixed;
    bottom:115px;
    right: 58px;
}

.yoyakuicon a{
     filter: drop-shadow(0 0 5px #fff);
}

.yoyakuicon a:hover{
     opacity: 0.7;
}


/*------footerここから----------------------------------------------------------*/



footer {
    background-color: #DADAD9;
}


footer li{
	float: left;
	margin-right: 40px;
}
#footertop {
    display: flex;
    background: #DADAD9;
    justify-content: center;
    text-align: center;

}
#footertop section {
    margin: 30px 0 0 70px;
}
#footertop li a {
	color: #000;
	text-decoration: none;
}
#footerunder {
	display: flex;
    justify-content: flex-end;
}
#footerunder img {
	margin: 0 -150px 0 0;
	
}
footer p {
    display: flex;
    justify-content:center;
    background-color: #DADAD9;
}






